include ../mixins/modal-row.pug

#edit-modal.modal.fade(tabindex="=1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true")
   .modal-dialog.text-dark(role="document")
      .modal-content 
         .modal-body 
            +row(id="edit-name",text="Nombre",type="text")
            +row(id="edit-balance",text="Balance",type="number")

            button#edit-btn.btn.btn-danger Editar

//- Change ID?


